@import "..//../styles/variables.scss";

.aside {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  &__hamburger {
    position: absolute;
    top: clamp(11px, 5.140079999999999vw, 44px);
    right: clamp(10px, 4.6728vw, 40px);
  }
  &__container {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: clamp(10px, 4.6728vw, 40px) clamp(17.5px, 8.177399999999999vw, 70px);
  }
  &__container-item {
    background-color: #fff;
    border: none;
    color: $secondary-color;
    font-size: clamp(12px, 5.60736vw, 48px);
    font-family: $primary-font;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      color: $primary-color;
    }
  }
}

.contact {
  &__item {
    font-size: clamp(8px, 3.73824vw, 32px);
    text-decoration: none;
    color: $primary-color;
    font-family: $primary-font;
    transition: 0.3s ease;
    &:hover {
      color: $secondary-color;
    }
  }
}
