@import "../../styles/variables.scss";

.servicebox {
  @extend %flex-center;
  padding: 20px;
  flex-direction: column;
  box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.05);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.3s ease;
  margin-top: clamp(16px, 7.47648vw, 64px);

  svg {
    margin-top: clamp(14.965px, 6.9928452vw, 59.86px);
  }

  p {
    margin-top: clamp(8.105px, 3.7873044vw, 32.42px);
    color: $secondary-color;
    font-family: $primary-font;
    font-weight: 700;
    font-size: clamp(11.5px, 5.37372vw, 46px);
  }
  dt {
    width: 94%;
    margin-top: clamp(6.485px, 3.0303108vw, 25.94px);
    color: $secondary-color;
    text-align: center;
    line-height: clamp(10.2px, 4.766255999999999vw, 40.8px);
    font-size: clamp(7.5px, 3.5046vw, 30px);
    font-family: $primary-font;
  }
  //   .team-picture {
  //     width: clamp(22.5px, 10.5138vw, 90px);
  //     margin-top: clamp(16.3px, 7.616664vw, 65.2px);
  //   }
}

.servicebox:hover {
  background-color: $primary-color;

  svg path {
    fill: $original-white;
  }
  p {
    color: $original-white;
  }
  dt {
    color: $original-white;
  }
  svg g circle {
    fill: $original-white;
  }
  .arrow g path {
    fill: $primary-color;
  }
}

@media screen and (min-width: 1024px) {
  .servicebox {
    width: clamp(210px, 21.8736vw, 840px);
    height: clamp(168.5px, 17.55096vw, 674px);
    flex-direction: column;
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.05);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.3s ease;
    margin-top: clamp(32px, 3.33312vw, 128px);
    margin-left: clamp(67.5px, 7.0308vw, 270px);

    .team-picture {
      font-size: 20px;
    }
    svg {
      position: relative;
      right: clamp(75px, 7.812vw, 300px);
      margin-top: clamp(16px, 1.66656vw, 64px);
    }

    p {
      position: relative;
      right: clamp(32px, 3.33312vw, 128px);
      margin-top: clamp(12px, 1.24992vw, 48px);
      color: $secondary-color;
      font-family: $primary-font;
      font-weight: 700;
      font-size: clamp(12.5px, 1.302vw, 50px);
    }
    dt {
      width: 90%;
      text-align: left;
      margin-top: clamp(8px, 0.83328vw, 32px);
      color: $secondary-color;
      line-height: clamp(10.2px, 1.062432vw, 40.8px);
      font-size: clamp(7.5px, 0.7812vw, 30px);
      font-family: $primary-font;
    }
  }
}
