@import "../../styles/variables.scss";

.no-scroll {
  overflow: hidden !important;
}
.loader-mobile {
  background-color: $primary-color;
  z-index: 60000000;
  height: 100vh;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__img {
    margin-top: clamp(120px, 56.0736vw, 480px);
    width: clamp(60px, 28.0368vw, 240px);
  }
  &__dots {
    margin-top: clamp(8px, 3.73824vw, 32px);
  }
}

.loader-pc {
  display: none;
}

@media screen and (min-width: 1024px) {
  .loader-mobile {
    display: none;
  }
  .loader-pc {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    background-color: $primary-color;
    z-index: 60000000;
    height: 100vh;
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__dots {
      margin-top: clamp(16px, 1.66656vw, 64px);
    }
  }
}
