@import "../../styles/variables.scss";

.services {
  margin: auto;
  display: flex;
  flex-direction: column;

  &__content {
    width: 90%;
    font-family: $primary-font;
    margin: auto;
    margin-top: clamp(32px, 14.95296vw, 128px);
  }

  &__text-section {
    color: $secondary-color;
    font-family: $primary-font;
    text-align: right;
  }
  &__mini-text {
    font-size: clamp(8px, 3.73824vw, 32px);
    font-weight: 100;
    color: $secondary-color;
    cursor: pointer;
  }
  &__mini-text:hover {
    color: $primary-color;
    transition: 0.3s;
  }
  &__heading {
    font-weight: 700;
    font-size: clamp(13px, 6.07464vw, 52px);
    line-height: clamp(19.6px, 9.158688vw, 78.4px);
    color: $primary-color;
    margin-top: clamp(4px, 1.86912vw, 16px);
  }
  &__span {
    color: $secondary-color;
  }
  &__paragraph {
    width: 100%;
    color: $secondary-color;
    font-size: clamp(8.5px, 3.9718799999999996vw, 34px);
    font-weight: 100;
    line-height: clamp(13.6px, 6.355008vw, 54.4px);
    margin-top: clamp(16px, 7.47648vw, 64px);
  }
  &__box {
    @extend %flex-center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .services {
    margin: auto;
    &__content {
      margin-top: clamp(64px, 6.66624vw, 256px);
      width: 86.6%;
    }
    &__text-section {
      color: $secondary-color;
      font-family: $primary-font;
      text-align: right;
    }
    &__mini-text {
      font-size: clamp(9px, 0.93744vw, 36px);
      font-weight: 100;
      color: $secondary-color;
      cursor: pointer;
    }
    &__mini-text:hover {
      color: $primary-color;
      transition: 0.3s;
    }
    &__heading {
      font-weight: 700;
      font-size: clamp(24px, 2.49984vw, 96px);
      color: $primary-color;
    }
    &__span {
      color: $secondary-color;
    }
    &__paragraph {
      position: relative;
      left: clamp(582.5px, 60.6732vw, 2330px);
      width: 30%;
      text-align: right;
      color: $secondary-color;
      font-size: clamp(10.5px, 1.09368vw, 42px);
      font-weight: 100;
      line-height: clamp(21px, 2.18736vw, 84px);
      bottom: clamp(16px, 1.66656vw, 64px);
    }
    &__box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-right: clamp(65px, 6.7704vw, 260px);
    }
    .service__box-odd {
      display: none;
    }
  }
}
