@import "../../styles/variables.scss";

.pc-screen {
  display: none;
}

.header {
  width: 90%;
  height: auto;
  margin: auto;
  padding-top: clamp(10px, 4.6728vw, 40px);
  z-index: 3;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: clamp(30.5px, calc(17.523vw - 7px), 143px);
    height: clamp(19.635px, calc(12.4460028vw - 7px), 99.54px);
  }
}

@media screen and (min-width: 1024px) {
  .mobile-screen {
    display: none;
  }

  .pc-screen {
    display: flex;
  }

  .header-pc {
    width: 86.6%;
    margin: auto;
    margin-top: clamp(25px, 2.604vw, 100px);

    &__logo {
      width: clamp(69px, 7.1870400000000005vw, 276px);
      height: clamp(47.495px, 4.9470792vw, 189.98px);
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__text-s {
        display: flex;
        text-indent: clamp(20px, 2.0832vw, 80px);
        margin-left: clamp(285px, 29.6856vw, 1140px);
      }

      &__text {
        color: $secondary-color;
        font-family: $primary-font;
        font-size: clamp(10.5px, 1.09368vw, 42px);
        cursor: pointer;

        &:hover {
          color: $primary-color;
        }
      }
      &__button {
        background-color: $primary-color;
        border: none;
        width: clamp(130px, 13.5408vw, 520px);
        padding: clamp(7px, 0.72912vw, 28px);
        font-family: $secondary-font;
        font-size: clamp(10px, 1.0416vw, 40px);
        transition: 0.3s ease;
        color: $original-white;
        cursor: pointer;

        &:hover {
          background-color: #237e1f;
        }
      }
    }
  }
}
