@import "../../styles/variables.scss";

.header {
  width: 90%;
  height: auto;
  margin: auto;
  padding-top: clamp(10px, 4.6728vw, 40px);
  z-index: 3;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: clamp(38.5px, 17.99028vw, 154px);
    height: clamp(26.635px, 12.4460028vw, 106.54px);
  }
}
