@import "../../styles/variables.scss";

.header {
  width: 90%;
  height: auto;
  margin: auto;
  padding-top: clamp(10px, 4.6728vw, 40px);
  z-index: 3;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: clamp(30.5px, calc(17.523vw - 7px), 143px);
    height: clamp(19.635px, calc(12.4460028vw - 7px), 99.54px);
  }
}
