@import "../../styles/variables.scss";

.about-pc {
  display: none;
}

.about {
  margin: auto;
  display: flex;
  flex-direction: column;

  &__content {
    width: 90%;
    font-family: $primary-font;
    font-weight: 700;
    margin: auto;
    margin-top: clamp(32px, 14.95296vw, 128px);

    &__text-section {
      color: $secondary-color;
      font-family: $primary-font;
    }
    &__mini-text {
      font-size: clamp(8px, 3.73824vw, 32px);
      font-weight: 100;
      color: $secondary-color;
      cursor: pointer;
    }
    &__mini-text:hover {
      color: $primary-color;
      transition: 0.3s;
    }
    &__heading {
      font-weight: 700;
      font-size: clamp(13px, 6.07464vw, 52px);
      line-height: clamp(19.6px, 9.158688vw, 78.4px);
    }
    &__span {
      color: $primary-color;
    }
    &__paragraph {
      width: 100%;
      color: $secondary-color;
      font-size: clamp(8.5px, 3.9718799999999996vw, 34px);
      font-weight: 100;
      line-height: clamp(13.6px, 6.355008vw, 54.4px);
    }
    &__statistics {
      color: $secondary-color;
      font-family: $primary-font;
    }
    &__number {
      color: $primary-color;
      font-weight: 700;
      font-size: clamp(22.5px, 10.5138vw, 90px);
    }
    &__description {
      font-weight: 400;
      font-size: clamp(9px, 4.20552vw, 36px);
    }
    &__button {
      display: flex;
      align-items: flex-start;
    }
  }
}

@media screen and (min-width: 1024px) {
  .about-mob {
    display: none;
  }

  .about-pc {
    display: flex;
  }

  .about-pc {
    width: 86.6%;
    margin: auto;
    &__content {
      width: 100%;
      margin-top: clamp(182px, 18.95712vw, 728px);
      position: relative;

      &__text-section {
        color: $secondary-color;
        font-family: $primary-font;
      }
      &__mini-text {
        font-size: clamp(9px, 0.93744vw, 36px);
        font-weight: 100;
        color: $secondary-color;
        cursor: pointer;
      }
      &__mini-text:hover {
        color: $primary-color;
        transition: 0.3s;
      }
      &__heading {
        width: 55%;
        font-weight: 700;
        font-size: clamp(24px, 2.49984vw, 96px);
        line-height: clamp(32px, 3.33312vw, 128px);
        margin-top: clamp(8px, 0.83328vw, 32px);
        span {
          color: $primary-color;
        }
      }
      &__paragraph {
        width: 36%;
        position: relative;
        left: clamp(525px, 54.684000000000005vw, 2100px);
        bottom: clamp(110px, 11.457600000000001vw, 440px);
        color: $secondary-color;
        font-size: clamp(10.5px, 1.09368vw, 42px);
        font-weight: 100;
        line-height: clamp(21px, 2.18736vw, 84px);
      }

      &__button {
        display: flex;
        justify-content: right;
        position: absolute;
        right: clamp(177.5px, 18.488400000000002vw, 710px);
        bottom: clamp(100px, 10.416vw, 400px);
      }
      &__statistics {
        color: $secondary-color;
        font-family: $primary-font;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // margin-top: clamp(-95px, -9.8952vw, -380px);
      }
      &__number {
        color: $primary-color;
        font-weight: 700;
        font-size: clamp(22.5px, 2.3436vw, 90px);
      }
      &__description {
        font-weight: 400;
        font-size: clamp(9px, 0.93744vw, 36px);
        margin-top: clamp(4px, 0.41664vw, 16px);
      }
    }
  }
}
