@import "../../styles/variables.scss";

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba($color: black, $alpha: 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.modal_window {
  width: clamp(350px, 36.456vw, 1400px);
  height: clamp(200px, 20.832vw, 800px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 100;

  &__logo {
    width: clamp(45px, 4.6872vw, 180px);
    height: clamp(45px, 4.6872vw, 180px);
  }

  &__text {
    font-size: clamp(20px, 2.0832vw, 80px);
    font-family: $primary-font;
    font-weight: 600;
    color: $primary-color;
    margin-top: 16px;
  }

  &__sub_text {
    font-size: clamp(10.5px, 1.09368vw, 42px);
    font-family: $secondary-font;
    font-weight: 500;
    color: $secondary-color;
    margin-top: 16px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 420px) {
  .modal_window {
    width: 80%;
    height: clamp(250px, 116.82vw, 1000px);
    &__logo {
      width: clamp(40px, 18.6912vw, 160px);
      height: clamp(40px, 18.6912vw, 160px);
    }

    &__text {
      font-size: clamp(14px, 6.541919999999999vw, 56px);
      text-align: center;
    }

    &__sub_text {
      width: 60%;
      font-size: clamp(8px, 3.73824vw, 32px);
      text-align: center;
    }
  }
}
